/* Général ______________________________________________*/
* {
    box-sizing: content-box;
    font-family: monospace;
}

body {
    /* background-image: url(/img/squared.png); */
    background-color: #0c0c15;
    overflow: hidden;
}

p,
h1,
h2 {
    margin: 0;
    color: #b7b7ca;
}

.main-box {
    border: 2px solid #ff8010;
    border-radius: 5px;
}

.border,
button,
.button,
select,
textarea {
    border-radius: 5px;
    border: 1px solid #71717b;
}

textarea {
    resize: none;
    border: 2px solid #ff8010;
    /* background: #0a0a2b; */
}


/* Centrer l'ensemble ___________________________________*/
main {
    display: flex;
    align-items: center;
    justify-content: center;
    /* height: 100vh; */
    margin: 5vh auto 0 auto;
}

.main-box {
    min-width: 410px;
    max-width: 900px;
    padding: 0.8% 1% 2% 1%;
    margin: auto;
    background-color: #181828;
    box-shadow: 0 0 400px 2px #bbb;
}


/* Bandeau titre ____________________________*/
#header h3 {
    margin-top: 0;
    font-size: 1.2rem;
    color: white;
    text-align: center;
}


/* Bandeau choix utilisateur ____________________________*/
#top {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#top>select {
    margin: 0;
}

#top>h1 {
    font-size: 1rem;
    margin: 0 0 0 2vh;
    text-align: center;
    color: #ff8010;
}


/* Zone des bouttons des tâches et message utilisateur __*/
#taskButtonZone {
    display: flex;
    justify-content: space-between;
}

#taskButtonZone>p {
    margin-right: 1%;
}


/* Bloc des tâches cachés si utilisateur non sélectionné_*/
#hidden {
    /* display: none; */
    visibility: hidden;
}


/* Listes taches utilisateur ____________________________*/
.box-user {
    margin-top: 2%;
    display: flex;
    justify-content: space-around;
}

/* Liste gauche ou droite */
.task-box {
    padding: 1% 1% 3% 1%;
    width: 30vw;
    min-width: 180px;
    display: flex;
    flex-direction: column;
}

.task-box h2 {
    font-size: 1rem;
    margin-bottom: 0.5vh;
    text-align: center;
}

.task-categorie {
    height: 2rem;
}

/* Checkbox catégories */
#task-categorie {
    font-size: 0.85rem;
}

#todoList .urgent {
    background-color: rgb(255, 203, 203);
    border: 2px solid #ff3737;
}

#todoList .normal {
    background-color: rgb(218, 255, 218);
    border: 2px solid #56ff34;
}
.validateTask {
    border: 2px solid #ff8010;
}

/* Ligne d'une liste */
.task-row {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

/* Textarea */
.input-text {
    width: 100%;
    margin: 1.5%;
}


/* Boutons_______________________________________________*/
.button {
    border: 2px solid gray;
}

#taskButtonZone {
    margin-top: 3%;
}

#tasks-buttons {
    display: flex;
}

#tasks-buttons button,
#tasks-buttons select {
    font-size: 0.85rem;
    margin-right: 0.5rem;
}

#addTask, #delTasks {
    /* background-color: #111; */
}

#task-categorie {
    margin: 1.5%;
}

/* Bascule des tâches */
#shared-buttons {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 6%;
    margin: 1%;
}

#shared-buttons button {
    margin: 0.25vh;
    min-width: 1vw;
}

/* #task-to-add, #task-to-remove {
    background-color: #ff8010;
} */

#user-list:hover, #addTask:hover, #delTasks:hover, #task-categorie:hover, .checkbox:hover, button:hover {
    border: 2px solid #ff8010;
}


/* Footer________________________________________________*/
footer p {
    text-align: center;
}


/* Shake_________________________________________________*/
@keyframes shake {
    10%, 90% {
    transform: translate3d(-1px, 0, 0);
}

20%, 80% {
    transform: translate3d(2px, 0, 0);
}

30%, 50%, 70% {
    transform: translate3d(-4px, 0, 0);
}

40%, 60% {
    transform: translate3d(4px, 0, 0);
}
}

.apply-shake {
    animation: shake 0.5s cubic-bezier(.36,.07,.19,.97) both;
}

.popup.active {
    display: flex;
    justify-content: center;
    animation: show .7s ease-in-out;
}
@keyframes show
{   0%
    {
        transform: translateY(-100%);
    }
    100%
    {
        transform: translateY(0);
    }
}


/* Popup d'ajout utilisateur_________________________________________________*/
.popup {
    position: fixed;
    inset: 0;
    background-color: rgba(0,0, 0,.4);
    place-items: center;
    display: none;
}
.popup form {
    background-color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 320px;
    width: 100%;
    padding: 40px 20px;
    border-radius: 1rem;
}
.popup form input {
    width: 100%;
    border:none;
    box-shadow: inset 0 0 2px rgba(0,0, 0,.4);
    margin: 14px 0;
    padding: 12px 15px;
    font-size: 1.1rem;
    border-radius: 1rem;
}
.popup form input[type = "submit"] {
    background-color: #3a4b49;
    font-weight: bold;
    font-size: 1.2rem;
    border-radius: 1rem;
    color: #fff;
    cursor: pointer;
    max-width: 100px;
}
.popup form input[type = "submit"]:hover {
    background-color: #fff;
    color: #3a4b49;
}